.div-cont{
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}

#contents {
    display: flex;
    flex-direction: row;
}

#subleft-cont {
    width: 700px;
    float: left;
    border: 1px solid #1275D6;
    border-radius: 15px;
}

#subright-cont {
    margin-left: 10px;
    width: 160px;
    float: right;
}

.cont-main {
    border: 1px solid #00a703;
    border-radius: 15px;
}


.cont-sub {
    border: 1px solid #ff61d7;
    border-radius: 15px;
}

.cont-reply{
    border: 1px solid #ff9061;
    border-radius: 15px;
}

.recommend-list {
    margin-top: 14px;
    padding-top: 16px;
    border: 1px solid #1275D6;
    border-radius: 15px;
}

.recommend-list ul{
    list-style-type: none; /* Remove default list styling */
}

.recommend-item {
    width: 160px;
    margin: 10px 0 10px -32px;
    padding-bottom: 10px;
    /* border: 1px solid red; */
    border-bottom: 1px solid #e1e1e1;
}

.recommend-photo{
    border-radius: 10px;;
    width: 160px;
}

.recommend-name-region{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.recommend-tag span {
    text-align: left;
}

.detail-content {
    text-align: left;
}

.cont-sub {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.cont-time ul{
    list-style-type: none; /* Remove default list styling */
}


.star {
  cursor: pointer;
  color: rgb(212, 212, 212); /* 기본 색상 */
}

.filled {
  color: #1275D6; /* 선택된 별의 색상 */
}

.recommend-tags li{
    list-style-type: none; 
}