.div-cont{
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}

#contents {
    display: flex;
    flex-direction: row;
}

#subleft-cont {
    width: 700px;
    float: left;
    border: 1px solid #1275D6;
    border-radius: 15px;
}

#subright-cont {
    width: 220px;
    float: right;
}

.cont-main {
    border: 1px solid #00a703;
    border-radius: 15px;
}


.cont-sub {
    border: 1px solid #ff61d7;
    border-radius: 15px;
}

.cont-reply{
    border: 1px solid #ff9061;
    border-radius: 15px;
}


.recommend-list {
    border: 1px solid #1275D6;
    border-radius: 15px;
}