body {
    font-family: Arial, sans-serif;
  }

  .card-wrap {
    margin: 0 auto;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left; /* Align cards to the start of the container */
    gap: 1rem; /* Adjust the gap between the cards */
  }
  
  .card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    flex: 0 0 calc(33.333% - 1rem); /* Each card will take up 1/3 of the container width minus the gap */
    margin-bottom: 1rem; /* Adjust the margin to your preference */
    
  }
  
  .card-image {
    position: relative;
  }
  
  .card-image img {
    width: 100%;
    display: block;
    height: 166px; /* 이미지 높이를 166px로 설정 */
    overflow: hidden; /* 높이를 초과하는 부분은 숨김 처리 */
    display: block; /* This removes any extra space below the image */
  }

  .score {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 1.2em;
  }
  
  .card-content {
    padding: 10px;
  }
  
  .card-title {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 5px;
  }
  
  .card-info {
    margin-bottom: 10px;
  }
  
  .valet-service {
    background: #eee;
    color: #333;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 0.8em;
  }
  
  .card-description {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-stats {
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  
  .stat {
    display: inline-block;
    margin-right: 15px;
  }
  
  .stat-count {
    font-size: 1.2em;
    color: #333;
  }
  
  .stat-label {
    font-size: 0.8em;
    color: #777;
  }

  .like-icon{
    color:rgb(255, 106, 0)
  }