


  
.main-text {
  font-size: 32px;
  font-weight: 700;
}
.highlight {
  color: #ffc83b;
  font-style: bold;
  font-size: 38px;
}
.sub-text { margin-top: 5px; margin-bottom: 30px;}
.container {
  display: flex; /* 기본적으로 가로 방향 */
  flex-direction: row; /* 기본적으로 가로 방향 */
  align-items: flex-start; /* 컨텐츠를 상단에 정렬 */
  gap: 0px; /* 컬럼사이 간격 */
  justify-content: center;
  /* margin-left: 250px;
  margin-right: 250px; */
}

.region-list {
  margin-top: 50px;
  flex: 0.5; /*sidebar 가 차지할 공간 */
  flex-direction: column;

}
.region-item {
  padding: 15px;
  cursor: pointer;
  font-size: 23px;
  margin-bottom: 15px;
  
}
.region-item.active {
  font-weight: bold;
  font-size: 28px;
  color: #1275d6;
}

.reviews{


}
.review-search .search-input{
  display: flex;
  width:100%;
  height: 35px;
  flex-direction: row;
  box-sizing: border-box;/* 테두리와 패딩을 요소의 크기에 포함 */
  margin-bottom : 10px;
}

.review-search .search-input input[type="text"] {
  flex: 0 0 88%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 80% */
  margin-right: 10px; /* 버튼과의 간격 */
  border-radius: 7px;
  border: 1px solid #E1E1E1;

}
.review-search .search-input input[type="text"]::placeholder {
  color: #68C7FF;
}

.review-search .search-input .search-button {
  flex: 0 0 10%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 20% */
  border: 1px solid #1275d6;
  border-radius: 7px;
  background-color: #1275d6;
  font-weight: bold;
  color: white;

}
.cards-container {
  flex: 1.8;
  display: flex;
  flex-direction: column;
  gap: -20px;
  background-color: #eee;
  width: 100%;

}

.review-card {
  display: flex; /* Flexbox 레이아웃 적용 */
  border: 1px solid #eee;
  border-radius: 15px;
  overflow: hidden; /* 컨테이너 밖으로 내용물이 넘치지 않도록 설정 */
  margin: 20px 3%;/* 상하 20px, 좌우 5%의 마진을 적용 */

  max-width: 100%;
  height: 260px; /* 카드의 높이 고정 */
  background-color: white;
  justify-content: space-around;
}

.review-image {
  flex: 1.6; /* 이미지 영역과 콘텐츠 영역이 비율에 따라 공간을 나눔 */
  background-size: cover;
  background-position: center;
}

.review-content {
  flex: 2; /* 콘텐츠 영역이 이미지 영역보다 크게 설정 */
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.card-main {
  padding: 20px;
  text-align: left;
}
.review-title{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
margin-bottom: 15px;
}
.subtitle{
  font-weight: bold;
  margin-bottom: 10px;
}
.review-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-footer {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}


.rating,
.author,
.date {
  font-size: 0.9em;
  margin-right: 15px;
}
.likes {
  cursor: pointer;
  user-select: none; /* 텍스트 선택 방지 */
  margin-left: 15px;
  margin-right: 15px;
}
.click{
  cursor: pointer;
}
